# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# Backup files
/backups/
/reports/
*.zip

# Configuration files
config.json
previous_hashes.json

# Virtual environment
.venv/
env/
venv/

# VSCode
.vscode/

# PyCharm
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
logs/
*.log
